/* Custom CSS for my personal website. */

/* Marissa Tavano */
/* Created in 2017 */
/* Updated: 2019 */



/*************************************/
/*            General CSS.           */
/*************************************/
*,
:after,
:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
	background: #fff10d;
}

::selection {
	background: #fff10d;
}

body,
html {
	margin: 0;
	padding: 0;
	background-color: #fff;
	color: #444452;
	font-family: 'Roboto', 'Raleway', Source Sans Pro, Helvetica, Arial, sans-serif;
	line-height: 1.5;
}

body h4,
html h4 {
	font-weight: normal;
	font-size: 16px;
	font-weight: 400;
}

body a,
html a {
	text-decoration: none;
	text-decoration-style: none;
	font-weight: 700;
	color: #36363c;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

body a:hover,
html a:hover {
	text-decoration: none;
	text-decoration-style: none;
}

body a:link,
html a:link {
	text-decoration: none;
	text-decoration-style: none;
}

body ul,
html ul {
	list-style: none;
	padding: 0;
	margin: 7px 0 0;
}

body strong,
html strong {
	font-weight: 700;
	color: #36363c;
}




/*************************************/
/*      Modified CSS for Firefox.    */
/*************************************/
@-moz-document url-prefix() {	
	body .toggle,
	html .toggle {
		display: block;
		text-align: right;
		margin-top: 10px !important;
		user-select: none;
		position: absolute;
		top: 5px !important;
		right: 15px !important;
	}

	.projects .project {
		max-width: 600px;
		margin-bottom: 40px !important;
	}

	.projects .project p {
		font-size: 0.9rem;
		margin-bottom: 9px;
		margin-top: 5px;
	}
}





/*************************************/
/*        'header_top' section.      */
/*************************************/
body .header_top,
html .header_top {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.header_top {
	padding: 20px 100px;
	min-height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	margin: 0 auto;
}

.header_top {
	margin-bottom: 20px !important;
	padding-bottom: 50px !important;
}

@media screen and (max-width:850px) {
	.header_top {
		padding: 20px 30px;
		margin: 0;
	}
}

@media screen and (max-width:630px) {
	.header_top {
		padding: 20px 70px;
	}
}

@media screen and (max-width:550px) {
	.header_top {
		padding: 20px 50px;
	}
}

@media screen and (max-width:480px) {
	.header_top {
		margin-bottom: 10px !important;
		padding-bottom: 10px !important;
	}
}



/*************************************/
/*               My name.            */
/*************************************/
body .name,
html .name {
	font-size: 34px;
	font-weight: 400;
	line-height: 40px;
	margin-top: 20px;
	margin-bottom: 10px;
}

@media screen and (max-width:480px) {
	body .name,
	html .name {
		margin-top: 40px;
	}
}





/*************************************/
/*     General CSS for 'sections'.   */
/*************************************/
body .section,
html .section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 100px 170px;
}

@media screen and (max-width:1280px) {
	body .section,
	html .section {
		padding: 100px;
	}
}

@media screen and (max-width:1024px) {
	body .section,
	html .section {
		padding: 50px;
	}
}

@media screen and (max-width:850px) {
	body .section,
	html .section {
		padding: 10px;
	}
}

@media screen and (max-width:768px) {
	body .section,
	html .section {
		display: block;
	}
}

@media screen and (max-width:480px) {
	body .section,
	html .section {
		padding: 50px 35px;
	}
}

@media screen and (max-width:320px) {
	body .section,
	html .section {
		padding: 5px;
	}
}



/*****************************************/
/*    General CSS for 'section titles'.  */
/*****************************************/
body .section__title,
html .section__title {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 200px;
	margin-right: 70px;
	color: #007bff;
	text-transform: uppercase;
	text-align: right;
	font-weight: 700;
	letter-spacing: 2px;
}

@media screen and (max-width:1024px) {
	body .section__title,
	html .section__title {
		margin-right: 50px;
	}
}

@media screen and (max-width:850px) {
	body .section__title,
	html .section__title {
		width: 150px;
	}
}

@media screen and (max-width:768px) {
	body .section__title,
	html .section__title {
		text-align: left;
		width: auto;
	}
}



/*****************************************/
/*   General CSS for 'section content'.  */
/*****************************************/
body .section__content,
html .section__content {
	font-weight: 300;
	font-size: 1rem;
	width: 100%;
	max-width: 650px;
}

@media screen and (max-width:768px) {
	body .section__content,
	html .section__content {
		padding-top: 30px;
		padding-left: 50px;
	}
}

@media screen and (max-width:480px) {
	body .section__content,
	html .section__content {
		padding-left: 30px;
	}
}

body .section__content p,
html .section__content p {
	margin-top: 0;
	margin-bottom: 25px;
}





/*************************************/
/*          "SKILLS" section.        */
/*************************************/
.skills_title .skills {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	visibility: hidden;
}

body .skills__category,
html .skills__category {
	width: auto;
	padding: 0 15px;
}

body .skills__category__label,
html .skills__category__label {
	width: auto;
}

@media screen and (max-width:630px) {
	.skills_title .skills {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
}

@media screen and (max-width:630px) {
	.skills_title .skills__category {
		width: 47%;
		margin-right: 5px;
		margin-bottom: 25px;
	}
}

.skills_title .skills__category__label {
	font-weight: 700;
	color: #36363c;
	text-transform: uppercase;
}

.skills_title .skills__category__item {
	margin: 2px 0;
	font-size: 16px;
}


/* ("SKILLS" section - adjusted for Firefox.) */
.skills_title {
	padding-top: 50px !important;
}

@media screen and (max-width:480px) {
	.skills_title {
		padding-top: 20px !important;
		padding-bottom: 20px !important;
	}
}

@media screen and (max-width:320px) {
	.skills_title {
		padding-top: 15px !important;
		padding-bottom: 15px !important;
	}
}





/*************************************/
/*        "EXPERIENCE" section.      */
/*************************************/
.experience .jobs {
	margin-bottom: 100px;
}

.experience .job {
	margin-bottom: 25px;
}

.experience .job .time-place {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

@media screen and (max-width:480px) {
	.experience .job .time-place {
		display: block;
	}
}

.experience .job__company {
	font-weight: bold;
}

.experience .job__time {
	font-size: 16px;
	font-family: Inconsolata, monospace;
}

@media screen and (max-width:480px) {
	.experience .job__time {
		font-size: 15px;
	}
}


/* ("EXPERIENCE" section - adjusted for Firefox.) */
.experience {
	margin-top: 600px;
	padding-top: 20px;
}

@media screen and (max-width:480px) {
	.experience {
		margin-top: 80px;
		padding-top: 20px;
	}
}

@media screen and (max-width:320px) {
	.experience {
		margin-top: 150px;
		padding-top: 20px;
	}
}





/*************************************/
/*         "PROJECTS" section.       */
/*************************************/
.projects .project {
	max-width: 600px;
	margin-bottom: 30px;
}

@media screen and (max-width:480px) {
	.projects .project {
		max-width: 600px;
		margin-bottom: 20px;
	}
}

@media screen and (max-width:320px) {
	.projects .project {
		max-width: 600px;
		margin-bottom: 15px;
	}
}

.projects .project__name {
	margin-bottom: 5px;
}

.projects .class {
	font-family: Raleway;
	font-weight: 400;
	font-size: 14px;
	color: #007bff;
}

.projects .project p {
	font-size: 0.9rem;
	margin-bottom: 15px;
	margin-top: 5px;
}

.projects .project__used__item {
	display: inline-block;
	margin: 3px 3px 3px 0;
	font-family: Raleway, monospace;
	font-size: 0.75rem;
	font-weight: 700;
	padding: 2px 7px;
	border-radius: 3px;
	color: #007bff;
	border: 1px solid #007bff;
	background: 0 0;
}

.projects .project__used__item:first-of-type {
	margin-left: 0;
}

body .arrow-link,
html .arrow-link {
	font-weight: 700;
	display: inline-block;
	-webkit-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	background-color: transparent;
	white-space: nowrap;
}


/* ("PROJECTS" section - adjusted for Firefox.) */
.projects {
	padding-top: 500px !important;
}

@media screen and (max-width:480px) {
	.projects {
		padding-top: 70px !important;
	}
}

@media screen and (max-width:320px) {
	.projects {
		padding-top: 60px !important;
	}
}





/*************************************/
/*                Footer.            */
/*************************************/
.footer {
	padding-top: 50px;
	padding-bottom: 10px;
	margin-right: 4px;
	width: 90%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: left;
	-ms-flex-align: left;
	align-items: center;
}

@media screen and (max-width:1024px) {
	.footer {
		padding: 10px;
		margin-right: 4px;
		width: 90%;
	}
}

@media screen and (max-width:850px) {
	.footer {
		padding: 8px;
		margin-right: 4px;
		width: 90%;
	}
}

@media screen and (max-width:768px) {
	.footer {
		padding: 8px;
		margin-right: 0;
	}
}

@media screen and (max-width:630px) {
	.footer {
		display: block;
		margin-right: 0;
	}
}

@media screen and (max-width:480px) {
	.footer {
		padding-top: 50px;
		padding-bottom: 10px;
		padding-right: 10px;
	}
}

.footer__copyright {
	font-weight: 400;
	width: 200px;
	padding-left: 10px;
}

@media screen and (min-width:1300px) {
	.footer__copyright {
		margin-left: 15px;
		margin-bottom: 5px;
	}
}

@media screen and (max-width:630px) {
	.footer__copyright {
		width: auto;
		text-align: center;
		margin-bottom: 25px;
	}
}

@media screen and (max-width:630px) {
	.footer__copyright .bottom,
	.footer__copyright .top {
		display: inline-block;
	}
}

@media screen and (max-width:480px) {
	.footer__copyright .bottom,
	.footer__copyright .top {
		display: block;
	}
}

@media screen and (max-width:630px) {
	.footer__links {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}

.footer__links a {
	position: relative;
	display: inline-block;
	color: #007bff!important;
	text-transform: uppercase;
	font-weight: 700;
	margin: 0 15px;
	outline: 0;
	text-decoration: none;
	text-decoration-style: none;
	font-size: 1.8em;
}

@media screen and (max-width:1024px) {
	.footer__links a {
		margin: 0 10px;
	}
}

@media screen and (max-width:850px) {
	.footer__links a {
		padding-right: 5px;
		margin: 0 10px 0 4px;
	}
}

.footer__links a:after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	background: #007bff;
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
	text-decoration: none;
	text-decoration-style: none;
	font-size: 1.8em;
}

@media screen and (max-width:850px) {
	.footer__links a:after {
		display: none;
	}
}

.footer__links a:hover {
	text-decoration: none;
	text-decoration-style: none;
	font-size: 1.8em;
}

.footer__links a:link {
	text-decoration: none;
	text-decoration-style: none;
	font-size: 1.8em;
}

.footer__links a:focus:after,
.footer__links a:hover:after {
	height: 2px;
	border-radius: 3px;
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	text-decoration: none;
	text-decoration-style: none;
}

.footer__links a .text {
	font-size: 0.9rem;
	display: inline;
	letter-spacing: 1px;
	text-decoration: none;
	text-decoration-style: none;
}

@media screen and (max-width:850px) {
	.footer__links a .text {
		display: none;
	}
}





/**************************************************************/
/*      Button that takes you back to the top of the page.    */
/**************************************************************/
body #top-button,
html #top-button {
	border: none;
	background-color: Transparent;
	background-repeat: no-repeat;
	outline: none;
	width: 40px;
	position: fixed;
	bottom: 16px;
	right: 15px;
	cursor: pointer;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
	display: none;
}

body #top-button p,
html #top-button p {
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

body #top-button i,
html #top-button i {
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

@media screen and (min-width:1300px) {
	body #top-button,
	html #top-button {
		right: 25px;
	}
}

@media screen and (max-width:1024px) {
	body #top-button,
	html #top-button {
		bottom: 18px;
		right: 7px;
		width: 35px;
		border: none;
		background-color: Transparent;
		background-repeat: no-repeat;
		outline: none;
	}
}

@media screen and (max-width:850px) {
	body #top-button,
	html #top-button {
		bottom: 14px;
		right: 7px;
		width: 35px;
		border: none;
		background-color: Transparent;
		background-repeat: no-repeat;
		outline: none;
	}
}

@media screen and (max-width:480px) {
	body #top-button,
	html #top-button {
		bottom: 12px;
		right: 3px;
		border: none;
		background-color: Transparent;
		background-repeat: no-repeat;
		outline: none;
	}
}

@media screen and (max-width:320px) {
	body #top-button,
	html #top-button {
		border: none;
		background-color: Transparent;
		background-repeat: no-repeat;
		outline: none;
	}
}





/*************************************/
/*            LED bullet.            */
/*************************************/
.status {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 1.2rem;
	font-family: Inconsolata, monospace;
	margin-top: 70px;
	color: #131417;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

@media screen and (min-width:1300px) {
	.status {
		margin-left: auto;
		margin-right: auto;
	}
}

.status__light {
	width: 20px;
	height: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.status__light__ring {
	position: absolute;
	width: 18px;
	height: 18px;
	-webkit-animation: pulsate 2s ease-out;
	animation: pulsate 2s ease-out;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	opacity: 0;
	border: 3px solid #bada55;
	border-radius: 30px;
}

@media screen and (max-width:850px) {
	.status {
		position: relative;
		top: 10px;
		left: 5%;
		text-align: left;
		width: auto;
	}
}

@media screen and (max-width:480px) {
	.status {
		position: relative;
		top: 10px;
		text-align: left;
		width: auto;
	}
}

@media screen and (max-width:320px) {
	.status {
		position: relative;
		top: 10px;
		text-align: left;
		width: auto;
	}
}

@-webkit-keyframes pulsate {
	0% {
		-webkit-transform: scale(.1, .1);
		transform: scale(.1, .1);
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		-webkit-transform: scale(1.2, 1.2);
		transform: scale(1.2, 1.2);
		opacity: 0;
	}
}

@keyframes pulsate {
	0% {
		-webkit-transform: scale(.1, .1);
		transform: scale(.1, .1);
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		-webkit-transform: scale(1.2, 1.2);
		transform: scale(1.2, 1.2);
		opacity: 0;
	}
}

.status__light__led {
	position: absolute;
	width: 10px;
	height: 10px;
	background: #bada55;
	border-radius: 100%;
}

.status__message {
	margin-left: 15px;
}





/**************************************************************/
/*      Button that scrolls down to the "skills" section.     */
/**************************************************************/
body #down-button,
html #down-button {
	border: none;
	background-color: Transparent;
	background-repeat: no-repeat;
	outline: none;
	cursor: pointer;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
	position: relative;
	width: 50%;
	top: 70px;
	left: 25%;

}


body #down-button:hover,
html #down-button:hover {
	-webkit-transform: translate(0px, -10px);
	-moz-transform: translate(0px, -10px);
	-ms-transform: translate(0px, -10px);
	-o-transform: translate(0px, -10px);
	transform: translate(0px, -10px);
	text-decoration: none;
	text-decoration-style: none;
}

body #down-button:visited,
html #down-button:visited {
	-webkit-transform: translateY(8px);
	transform: translateY(8px);
	text-decoration: none;
	text-decoration-style: none;
}

@media screen and (max-width:1024px) {
	body #down-button,
	html #down-button {
		border: none;
		background-color: Transparent;
		background-repeat: no-repeat;
		outline: none;
		position: relative;
		top: 4px;
	}
}


/* Tooltip for the button that scrolls down to the "skills" section. */
.down-button .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	top: 10px;
	left: 57%;
	opacity: 0;
	transition: opacity 1s;
}

.down-button .tooltiptext::after {
	content: "";
	position: absolute;
	top: 30%;
	right: 100%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent #555 transparent transparent;
}

.down-button:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}


/* (Button that scrolls down to the "skills" section - adjusted for Firefox.) */
#down-button {
	margin-bottom: 240px;
}

@media screen and (max-width:480px) {
	#down-button {
		margin-bottom: 140px;
	}
}

@media screen and (max-width:320px) {
	#down-button {
		margin-bottom: 140px;
	}
}





/**************************************************************/
/*    Button that scrolls down to the "experience" section.   */
/**************************************************************/
body #middle-button,
html #middle-button {
	border: none;
	background-color: Transparent;
	background-repeat: no-repeat;
	outline: none;
	cursor: pointer;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

body #middle-button:hover,
html #middle-button:hover {
	-webkit-transform: translate(0px, -10px);
	-moz-transform: translate(0px, -10px);
	-ms-transform: translate(0px, -10px);
	-o-transform: translate(0px, -10px);
	transform: translate(0px, -10px);
	text-decoration: none;
	text-decoration-style: none;
}

body #middle-button:visited,
html #middle-button:visited {
	-webkit-transform: translateY(8px);
	transform: translateY(8px);
	text-decoration: none;
	text-decoration-style: none;
}

@media screen and (max-width:1024px) {
	body #middle-button,
	html #middle-button {
		border: none;
		background-color: Transparent;
		background-repeat: no-repeat;
		outline: none;
	}
}



/* Tooltip for the button that scrolls down to the "experience" section. */
.middle-button .tooltiptext {
	visibility: hidden;
	width: 150px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	top: 10px;
	left: 57%;
	opacity: 0;
	transition: opacity 1s;
}

.middle-button .tooltiptext::after {
	content: " ";
	position: absolute;
	top: 30%;
	right: 100%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent #555 transparent transparent;
}

.middle-button:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}





/**************************************************************/
/*     Button that scrolls down to the "projects" section.    */
/**************************************************************/
body #projects-button,
html #projects-button {
	border: none;
	background-color: Transparent;
	background-repeat: no-repeat;
	outline: none;
	cursor: pointer;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

body #projects-button:hover,
html #projects-button:hover {
	-webkit-transform: translate(0px, -10px);
	-moz-transform: translate(0px, -10px);
	-ms-transform: translate(0px, -10px);
	-o-transform: translate(0px, -10px);
	transform: translate(0px, -10px);
	text-decoration: none;
	text-decoration-style: none;
}

body #projects-button:visited,
html #projects-button:visited {
	-webkit-transform: translateY(8px);
	transform: translateY(8px);
	text-decoration: none;
	text-decoration-style: none;
}

@media screen and (max-width:1024px) {
	body #projects-button,
	html #projects-button {
		border: none;
		background-color: Transparent;
		background-repeat: no-repeat;
		outline: none;
	}
}


/* Tooltip for the button that scrolls down to the "projects" section. */
.projects-button .tooltiptext {
	visibility: hidden;
	width: 150px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	top: 10px;
	left: 57%;
	opacity: 0;
	transition: opacity 1s;
}

.projects-button .tooltiptext::after {
	content: " ";
	position: absolute;
	top: 30%;
	right: 100%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent #555 transparent transparent;
}

.projects-button:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}





/*************************************/
/*          Day/Night toggle.        */
/*************************************/
body .toggle,
html .toggle {
	display: block;
	text-align: right;
	margin-top: 20px;
	user-select: none;
	position: absolute;
	top: 40px;
	right: 65px;
}

body .toggle--checkbox,
html .toggle--checkbox {
	display: none;
}

body .toggle--btn,
html .toggle--btn {
	display: block;
	margin: 0 auto;
	font-size: 18px;
	transition: all 350ms ease-in;
}

body .toggle--btn:hover,
html .toggle--btn:hover {
	cursor: pointer;
}

.toggle--btn,
.toggle--btn:after,
.toggle--btn:before,
.toggle--checkbox,
.toggle--checkbox:after,
.toggle--checkbox:before,
.toggle--feature,
.toggle--feature:after,
.toggle--feature:before {
	transition: all 250ms ease-in;
}

.toggle--btn:after,
.toggle--btn:before,
.toggle--checkbox:after,
.toggle--checkbox:before,
.toggle--feature:after,
.toggle--feature:before {
	content: '';
	display: block;
}


/* (Adjust the Day/Night toggle for Firefox.) */
.toggle--daynight {
	-moz-transform: scale(0.5);   /* Equal to scaleX(0.5) scaleY(0.5) */
}

.toggle--daynight .toggle--btn {
	position: relative;
	height: 70px;
	width: 125px;
	border-radius: 70px;
}

.toggle--daynight .toggle--btn:before {
	position: absolute;
	top: 2px;
	left: 4px;
	width: 56px;
	height: 56px;
	border-radius: 50%;
}

.toggle--daynight .toggle--btn {
	border: 5px solid #1c1c1c;
	background-color: #3c4145;
}

.toggle--daynight .toggle--btn:before {
	background-color: #fff;
	border: 5px solid #e3e3c7;
}

.toggle--daynight .toggle--btn:after {
	position: absolute;
	top: 62%;
	left: 39px;
	z-index: 10;
	width: 11.2px;
	height: 11.2px;
	opacity: 0;
	background-color: #fff;
	border-radius: 50%;
	box-shadow: #fff 0 0, #fff 3px 0, #fff 6px 0, #fff 9px 0, #fff 11px 0, #fff 14px 0, #fff 16px 0, #fff 21px -1px 0 1px, #fff 16px -7px 0 -2px, #fff 7px -7px 0 1px, #d3d3d3 0 0 0 4px, #d3d3d3 6px 0 0 4px, #d3d3d3 11px 0 0 4px, #d3d3d3 16px 0 0 4px, #d3d3d3 21px -1px 0 5px, #d3d3d3 16px -7px 0 1px, #d3d3d3 7px -7px 0 5px;
	transition: opacity 100ms ease-in;
}

@keyframes starry_star {
	50% {
		background-color: rgba(255, 255, 255, 0.1);
		box-shadow: #fff 30px -3px 0 0, #fff 12px 10px 0 -1px, rgba(255, 255, 255, 0.1) 38px 18px 0 1px, #fff 32px 34px 0 0, rgba(255, 255, 255, 0.1) 20px 24px 0 -1.5px, #fff 5px 38px 0 1px;
	}
}

@keyframes bounceIn {
	0% {
		opacity: 0;
		transform: scale(0.3);
	}

	50% {
		opacity: 100;
		transform: scale(1.1);
	}

	55% {
		transform: scale(1.1);
	}

	75% {
		transform: scale(0.9);
	}

	100% {
		opacity: 100;
		transform: scale(1);
	}
}

.toggle--daynight .toggle--feature {
	display: block;
	position: absolute;
	top: 9px;
	left: 52.5%;
	z-index: 20;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: rgba(255, 255, 255, 0.1) 30px -3px 0 0, rgba(255, 255, 255, 0.1) 12px 10px 0 -1px, #fff 38px 18px 0 1px, rgba(255, 255, 255, 0.1) 32px 34px 0 0, #fff 20px 24px 0 -1.5px, rgba(255, 255, 255, 0.1) 5px 38px 0 1px;
	animation: starry_star 5s ease-in-out infinite;
}

.toggle--daynight .toggle--feature:before {
	position: absolute;
	top: -2px;
	left: -25px;
	width: 18px;
	height: 18px;
	background-color: #fff;
	border-radius: 50%;
	border: 5px solid #e3e3c7;
	box-shadow: #e3e3c7 -28px 0 0 -3px, #e3e3c7 -8px 24px 0 -2px;
	transform-origin: -6px 130%;
}

.toggle--daynight .toggle--checkbox:checked+.toggle--btn {
	background-color: #9ee3fb;
	border: 5px solid #86c3d7;
}

.toggle--daynight .toggle--checkbox:checked+.toggle--btn:before {
	left: 55px;
	background-color: #ffdf6d;
	border: 5px solid #e1c348;
}

.toggle--daynight .toggle--checkbox:checked+.toggle--btn:after {
	opacity: 100;
	animation-name: bounceIn;
	animation-duration: 0.60s;
	animation-delay: 0.10s;
	animation-fill-mode: backwards;
	animation-timing-function: ease-in-out;
}

.toggle--daynight .toggle--checkbox:checked+.toggle--btn > .toggle--feature {
	opacity: 0;
	box-shadow: rgba(255, 255, 255, 0.1) 30px -3px 0 -4px, rgba(255, 255, 255, 0.1) 12px 10px 0 -5px, #fff 38px 18px 0 -3px, rgba(255, 255, 255, 0.1) 32px 34px 0 -4px, #fff 20px 24px 0 -5.5px, rgba(255, 255, 255, 0.1) 5px 38px 0 -3px;
	animation: none;
}

.toggle--daynight .toggle--checkbox:checked+.toggle--btn > .toggle--feature:before {
	left: 25px;
	transform: rotate(70deg);
}





/*************************************/
/*        Star Wars toggle icon      */
/*************************************/
#nav-container {
	display: block;
	text-align: left;
	margin-top: 20px;
	user-select: none;
	position: absolute;
	top: 40px;
	left: 35px;
	font-size: 20px;
}

@media screen and (max-width:480px) {
	body .menu,
	html .menu {
		margin-bottom: 20px;
		font-size: 16px;
	}

	#nav-container {
		margin-bottom: 20px;
		font-size: 16px;
	}
}

@media screen and (max-width:320px) {
	body .menu,
	html .menu {
		margin-bottom: 20px;
		font-size: 16px;
	}

	#nav-container {
		margin-bottom: 20px;
		font-size: 16px;
	}
}


/* Star Wars toggle. */
.starwars-toggle {
	display: block;
	position: relative;
	width: 100%;
	margin: -2.2em auto 0 0.2em;
	-webkit-transition: margin 600ms;
	-moz-transition: margin 600ms;
	transition: margin 600ms;
	cursor: pointer;
}

.starwars-toggle .bar {
	display: block;
	width: 3.8em;
	height: 0.2em;
	margin: 0.9em;
	border-right: 2.8em solid #dbdbdb;
	border-left: 0.6em solid #c0c0c0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition-property: -webkit-transform, margin, border-right-color, box-shadow;
	-moz-transition-property: -moz-transform, margin, border-right-color, box-shadow;
	transition-property: transform, margin, border-right-color, box-shadow;
	-webkit-transition-duration: 600ms;
	-moz-transition-duration: 600ms;
	transition-duration: 600ms;
}

body.night .starwars-toggle .bar,
html.night .starwars-toggle .bar {
	border-right: 2.8em solid #fff;
}

.starwars-toggle .bar:nth-of-type(1) {
	-webkit-transition: opacity 300ms;
	-moz-transition: opacity 300ms;
	transition: opacity 300ms;
}

.starwars-toggle .bar:nth-of-type(2) {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	transform: rotate(-180deg);
}


/* (When the Star Wars toggle is 'clicked'). */
.pushed .starwars-toggle {
	margin: -3.2em 0 0 0.7em;
}

.pushed .bar:nth-of-type(1) {
	opacity: 0;
}

.pushed .bar:nth-of-type(2) {
	margin-left: 1.4em;
	-webkit-transform: rotate(-137deg) translateY(-1.5em);
	-moz-transform: rotate(-137deg) translateY(-1.5em);
	-ms-transform: rotate(-137deg) translateY(-1.5em);
	-o-transform: rotate(-137deg) translateY(-1.5em);
	transform: rotate(-137deg) translateY(-1.5em);
}

.pushed .bar:nth-of-type(3) {
	margin-left: 0.5em;
	-webkit-transform: rotate(-42deg);
	-moz-transform: rotate(-42deg);
	-ms-transform: rotate(-42deg);
	-o-transform: rotate(-42deg);
	transform: rotate(-42deg);
}

.pushed .starwars-toggle:hover .bar:nth-of-type(2) {
	border-right-color: #e9b8b9;
	box-shadow: 0.4em 0 0.6em 0.1em rgba(205,40,44,0.75);
}

.pushed .starwars-toggle:hover .bar:nth-of-type(3) {
	border-right-color: #ddf1da;
	box-shadow: 0.4em 0 0.6em 0.1em rgba(83,228,68,0.65);
}

body.night .pushed .starwars-toggle:hover .bar:nth-of-type(2),
html.night .pushed .starwars-toggle:hover .bar:nth-of-type(2) {
	box-shadow: 0.4em 0 0.8em 0.2em rgba(205,40,44,0.75);
}

body.night .pushed .starwars-toggle:hover .bar:nth-of-type(3),
html.night .pushed .starwars-toggle:hover .bar:nth-of-type(3) {
	box-shadow: 0.4em 0 0.8em 0.2em rgba(83,228,68,0.65);
}


/* The lightsabers should ALWAYS glow when the toggle is 'clicked' on mobile. */
@media screen and (max-width:480px) {
	.pushed .starwars-toggle .bar:nth-of-type(2) {
		border-right-color: #e9b8b9;
		box-shadow: 0.4em 0 0.6em 0.1em rgba(205,40,44,0.75);
	}

	.pushed .starwars-toggle .bar:nth-of-type(3) {
		border-right-color: #ddf1da;
		box-shadow: 0.4em 0 0.6em 0.1em rgba(83,228,68,0.65);
	}

	body.night .pushed .starwars-toggle .bar:nth-of-type(2),
	html.night .pushed .starwars-toggle .bar:nth-of-type(2) {
		box-shadow: 0.4em 0 0.8em 0.2em rgba(205,40,44,0.75);
	}

	body.night .pushed .starwars-toggle .bar:nth-of-type(3),
	html.night .pushed .starwars-toggle .bar:nth-of-type(3) {
		box-shadow: 0.4em 0 0.8em 0.2em rgba(83,228,68,0.65);
	}
}

@media screen and (max-width:320px) {
	.pushed .starwars-toggle .bar:nth-of-type(2) {
		border-right-color: #e9b8b9;
		box-shadow: 0.4em 0 0.6em 0.1em rgba(205,40,44,0.75);
	}

	.pushed .starwars-toggle .bar:nth-of-type(3) {
		border-right-color: #ddf1da;
		box-shadow: 0.4em 0 0.6em 0.1em rgba(83,228,68,0.65);
	}

	body.night .pushed .starwars-toggle .bar:nth-of-type(2),
	html.night .pushed .starwars-toggle .bar:nth-of-type(2) {
		box-shadow: 0.4em 0 0.8em 0.2em rgba(205,40,44,0.75);
	}

	body.night .pushed .starwars-toggle .bar:nth-of-type(3),
	html.night .pushed .starwars-toggle .bar:nth-of-type(3) {
		box-shadow: 0.4em 0 0.8em 0.2em rgba(83,228,68,0.65);
	}

}





/******************************************************************************/
/*      Change the background color when the Day/Night toggle is clicked.     */
/******************************************************************************/
body.night {
	background-color: #131417;
	color: #afafbf;
}

body.night ::-moz-selection,
html.night ::-moz-selection {
	color: #36363c;
	background: #fff10d;
}

body.night ::selection,
html.night ::selection {
	color: #36363c;
	background: #fff10d;
}

body.night .arrow-link,
body.night .experience .job__time,
body.night .footer__copyright,
body.night .intro,
body.night .skills .skills__category__label,
body.night .status__message,
body.night a,
body.night strong,
html.night .arrow-link,
html.night .experience .job__time,
html.night .footer__copyright,
html.night .intro,
html.night .skills .skills__category__label,
html.night .status__message,
html.night a,
html.night strong {
	color: #e7e7e7;
}

body.night p,
html.night p {
	font-weight: 400;
}

body.night .class,
html.night .class {
	font-weight: 500;
}

body.night .job__position,
html.night .job__position {
	font-weight: 400 !important;
}

body.night .skills__category__item,
html.night .skills__category__item {
	font-weight: 400 !important;
}

body.night .section__content .underline-link:after,
html.night .section__content .underline-link:after {
	background: #e7e7e7;
}


/* Change the color of the 'down' arrows when the Day/Night toggle is clicked. */
body.night .fa-arrow-down,
html.night .fa-arrow-down {
	color: #e7e7e7;
}


/* Change the color of the 'go to top' arrow when the Day/Night toggle is clicked. */
body.night #top-button,
html.night #top-button {
	color: #e7e7e7;
}


/* Change the color of my name at the top of the page when the Day/Night toggle is clicked. */
body.night .name,
html.night .name {
	color: #F0F0F0;
}





/*************************************/
/*           Page not found.         */
/*************************************/
.not-found {
	width: 100%;
	text-align: center;
	padding: 0 20px;
}

.not-found .name {
	position: absolute;
	top: 20px;
	left: 25px;
	font-weight: 700;
	color: #007bff;
	font-size: 1.5rem;
}

.not-found h1 {
	font-size: 4rem;
	margin-top: 45px;
	margin-bottom: 30px;
	padding-top: 20px;
}

.not-found h2 {
	font-size: 1.5rem;
}

.not-found a {
	font-weight: 700;
	color: #007bff!important;
	position: relative;
	display: inline-block;
}

.not-found .highlight-link {
	font-weight: 700;
	text-decoration: none;
	display: inline-block;
	padding: 2px 4px;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	text-decoration: none;
	-webkit-box-shadow: inset 0 -3px 0 #007bff;
	box-shadow: inset 0 -3px 0 #007bff;
}

.not-found .highlight-link:hover {
	-webkit-box-shadow: inset 0 -38px 0 0 #007bff;
	box-shadow: inset 0 -38px 0 0 #007bff;
	color: #fff!important;
}

@media screen and (max-width:480px) {
	.not-found {
		padding: 5px 10px;
	}

	.not-found h1 {
		font-size: 30px;
		margin: 50px 0 10px;
	}

	.not-found h2 {
		font-size: 10px;
	}

	.not-found .name {
		position: absolute;
		top: 10px;
		left: 25px;
		font-weight: 700;
		color: #007bff;
		font-size: 13px;
	}

	.not-found .not-found-pic {
		max-width: 80%;
		max-height: 80%;
	}

}

@media screen and (max-width:320px) {
	.not-found {
		padding: 5px 10px;
	}

	.not-found h1 {
		font-size: 30px;
		margin: 50px 0 10px;
	}

	.not-found h2 {
		font-size: 10px;
	}

	.not-found .name {
		position: absolute;
		top: 20px;
		left: 25px;
		font-weight: 700;
		color: #007bff;
		font-size: 13px;
	}

	.not-found .not-found-pic {
		max-width: 80%;
		max-height: 80%;
	}

}





/* Don't show the down arrows on small screens. */
body #down-button,
html #down-button,
body #down-arrow,
html #down-arrow,
body #middle-button,
html #middle-button,
body #middle-arrow,
html #middle-arrow,
body #projects-button,
html #projects-button,
body #projects-arrow,
html #projects-arrow {
	visibility: hidden;
}


/* Only display the down arrows on screens larger than 1200px wide. */
@media screen and (min-width: 1200px) {
	body #down-button,
	html #down-button,
	body #down-arrow,
	html #down-arrow,
	body #middle-button,
	html #middle-button,
	body #middle-arrow,
	html #middle-arrow,
	body #projects-button,
	html #projects-button,
	body #projects-arrow,
	html #projects-arrow {
		visibility: visible;
	}
	
}





